* {
    list-style-type: none;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.container {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    width: 100%;
    height: 100%;
    gap: 1%;
}

.header-container {
    grid-area: 1 / 2 / 2 / 12;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.logo-container {
    background-image: url(/resources/styles/images/The\ mind-1.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: 100;
    width: 5rem;
    height: 5rem;
}

.nav-container {
    height: 50%;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container ul li a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav-container ul li a:hover {
    text-decoration: underline;
    font-size: 1.3rem;
}

.title-container {
    grid-area: 2 / 1 / 3 / 6;
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 5rem;
    align-items: center;
}

.title-container h1 {
    font-size: 2.75rem;
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

.main-container {
    grid-area: 3 / 2 / 12 / 12;
    grid-template-areas : "mission"
                          "bio"
                          "train";
    height: 100rem;
    width: 100%;
    gap: 5%;
}

.mission-container {
    grid-area: mission;
    height: 33%;
}

.mission-container img {
    width: 20rem;
    height: auto;
    position: relative;
    bottom: 65%;
    left: 15%;
    border: 5px solid rgba(0, 0, 0, 0.51);
}




.bio-container {
    grid-area: bio;
    height: 33%;
}



.training-container {
    grid-area: training;
    justify-content: center;
    align-items: center;
}

 .title {
    text-align: right;
    margin-right: 10%;
    font-size: 2rem;
}
.bio-container .title h3 {
    text-align: left;
}

.bios {
    line-height: 3rem;
    padding: 2.5rem;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.content {
    line-height: 2.5rem;
    font-size: 1.2rem;
    text-align: center;
    width: 15rem;
    padding: 1.5rem;
    display: flex;
    position: relative;
    margin-left: 70%;
    font-weight: 200;
}

.photos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 70%;
    top: 1rem;
}

.photo {
    border: 3px solid rgba(0, 0, 0, 0.863);
}

button {
    position: relative;
    float: right;
    margin-right: 13%;
    font-size: 1.3em;
    bottom: 6rem;
}
.footer-container {
    grid-area: 13 / 1 / 13 / 13;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    height: 3.5rem;
    margin-left: 5%;
}

.footer-container p::before {
    content: "© ";
}

